.container {
  display: flex;
  align-items: center;
  justify-self: center;
  min-height: 80vh;
}

button {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 25px;
  font-size: 18px;
}
