<div class="container">
  <form (ngSubmit)="onUpdate()">
    <div class="noteContainer">
      <div class="noteStatusContainer">
        <label>Note:</label>
        <div class="statusContainer">
          <label>Status:</label>
          <select name="status" [(ngModel)]="status" required="true">
            <option value="HAPPY">Happy</option>
            <option value="SAD">Sad</option>
            <option value="TIRED">Tired</option>
            <option value="STRESSED">Stressed</option>
            <option value="CALM">Calm</option>
            <option value="ANGRY">Angry</option>
          </select>
        </div>
      </div>
      <textarea name="note" [(ngModel)]="note" required="true"></textarea>
    </div>
    <div class="btnContainer">
      <button type="submit">Update</button>
      <button type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
  <p>{{ error() }}</p>
</div>
