<div class="container">
  <form (ngSubmit)="onSubmit()" #noteForm="ngForm">
    <div class="statusContainer">
      <div class="headerContainer">
        <label>Note:</label>
        <div class="statusContainer">
          <label>Status:</label>
          <select name="status" [(ngModel)]="status" required="true">
            <option value="HAPPY">Happy</option>
            <option value="SAD">Sad</option>
            <option value="TIRED">Tired</option>
            <option value="STRESSED">Stressed</option>
            <option value="CALM">Calm</option>
            <option value="ANGRY">Angry</option>
          </select>
        </div>
      </div>
    </div>
    <div class="noteContainer">
      <textarea name="note" [(ngModel)]="note" required="true"></textarea>
    </div>
    <button type="submit" [disabled]="noteForm.invalid">Create</button>
  </form>
  <p>{{ error() }}</p>
</div>
