.container {
  border: 1px solid var(--border);
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  box-shadow: var(--shadow);
  margin: 5px;
  background-color: var(--surface);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.statusContainer {
  margin-bottom: 5px;
}

button {
  display: flex;
  justify-self: center;
  margin-top: 5px;
}

p {
  margin: 5px;
  font-size: 15px;
}
